.sform{
    border: 2px solid grey;
    width: 800px;
    text-align: center;
    margin-left: 300px;
    border-radius: 7px;
    height: 475px;
    background-color: #f1f1f1;
    padding-top: 35px;
}
.signer{
    font-size: 35px;
    font-weight: bold;
}
.semail{
    margin-top: 35px;
    width: 350px;
    margin-left: 175px;
}
.password{
    margin-top: 75px;
    width: 350px;
}
.sefl{
    position: absolute;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 175px;
}
.pfl{
    position: absolute;
    margin-top: 45px;
    font-size: 20px;
}
.email h3{
    font-size: 28px;
    text-align: center;
    margin-left: 100px;;
}
.lsubmit{
    border: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: #E863AF;
    margin-top: 40px;
    width: 250px;
    height: 43px;
    border-radius: 5px;
    font-size: 20px;;
}
.lsubmit:hover{
    cursor: pointer;
    background-color: #63afe8;
    transform: scale(1.1);
}.form{
    border: 2px solid grey;
    width: 550px;
    text-align: center;
    margin-left: 350px;
    border-radius: 4px;
    height: 400px
}
.email{
    margin-top: 35px;
    width: 350px;
    margin-left: 47px;
}
.password{
    margin-top: 75px;
    width: 350px;
}
.efl{
    position: absolute;
    margin-left: 48px;
    margin-top: 5px;
    font-size: 20px;
}
.pfl{
    position: absolute;
    margin-top: 45px;
    font-size: 20px;
}
.email h3{
    font-size: 28px;
    text-align: center;
    margin-left: 100px;;
}
.lsubmit{
    border: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: #E863AF;
    margin-top: 40px;
    width: 250px;
    height: 43px;
    border-radius: 5px;
    font-size: 20px;;
}
.lsubmit:hover{
    cursor: pointer;
    background-color: #63afe8;
}